data/flows.json
[{"id":"f37d137d.f7c26","type":"tab","label":"Rasa Chatbot Starter","disabled":false,"info":""},{"id":"305c7c40.4c680c","type":"tab","label":"Part 2 Solution","disabled":true,"info":""},{"id":"c15ffd7f.a061","type":"http in","z":"305c7c40.4c680c","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["d950ce52.9d7e5"]]},{"id":"d950ce52.9d7e5","type":"http request","z":"305c7c40.4c680c","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":320,"y":60,"wires":[["afb49010.10c138"]]},{"id":"72ff1329.ebb564","type":"http response","z":"305c7c40.4c680c","name":"HTTP Response","statusCode":"","headers":{},"x":700,"y":200,"wires":[]},{"id":"afb49010.10c138","type":"switch","z":"305c7c40.4c680c","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"chuckNorris","vt":"str"},{"t":"eq","v":"advice","vt":"str"},{"t":"eq","v":"greet","vt":"str"},{"t":"eq","v":"goodbye","vt":"str"}],"checkall":"false","outputs":4,"x":510,"y":60,"wires":[["8ae7582d.ff64e8"],["ab1a7938.441d98"],["5526b47.52672cc"],["babc8599.ac2fd"]]},{"id":"1af81bb9.bdb274","type":"http in","z":"f37d137d.f7c26","name":"","url":"/chatSolution","method":"post","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["3e65cac8.85975e"]]},{"id":"3e65cac8.85975e","type":"http request","z":"f37d137d.f7c26","name":"","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":310,"y":40,"wires":[["b27c373b.a97188"]]},{"id":"8581e36a.36b23","type":"http response","z":"f37d137d.f7c26","name":"","statusCode":"","headers":{},"x":1110,"y":40,"wires":[]},{"id":"b27c373b.a97188","type":"switch","z":"f37d137d.f7c26","name":"","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"else"}],"checkall":"false","outputs":1,"x":470,"y":40,"wires":[["8581e36a.36b23"]]},{"id":"8ae7582d.ff64e8","type":"link out","z":"305c7c40.4c680c","name":"chuckNorris Switch","links":["d80552f.9a4aeb"],"x":635,"y":40,"wires":[]},{"id":"ab1a7938.441d98","type":"link out","z":"305c7c40.4c680c","name":"advice Switch","links":["d5a64a51.532398"],"x":675,"y":60,"wires":[]},{"id":"5526b47.52672cc","type":"link out","z":"305c7c40.4c680c","name":"greet Switch","links":["20ffcf1b.f3268"],"x":715,"y":80,"wires":[]},{"id":"babc8599.ac2fd","type":"link out","z":"305c7c40.4c680c","name":"goodbye Switch","links":["c26fb886.452fa"],"x":755,"y":100,"wires":[]},{"id":"d80552f.9a4aeb","type":"link in","z":"305c7c40.4c680c","name":"","links":["8ae7582d.ff64e8"],"x":55,"y":200,"wires":[["c79d0424.205c"]]},{"id":"1ad1c3f9.c0dc1c","type":"comment","z":"305c7c40.4c680c","name":"Chuck Norris Intent Fulfillment","info":"","x":160,"y":160,"wires":[]},{"id":"c79d0424.205c","type":"function","z":"305c7c40.4c680c","name":"","func":"msg.url = 'https://api.chucknorris.io/jokes/random'\n\nif (msg.payload.entities.length > 0) {\n    var query = msg.payload.entities[0].value\n    \n    msg.url = 'https://api.chucknorris.io/jokes/search?query=' + query\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["2473627a.c633b6"]]},{"id":"2473627a.c633b6","type":"http request","z":"305c7c40.4c680c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":200,"wires":[["dd78dba4.00aac"]]},{"id":"dd78dba4.00aac","type":"function","z":"305c7c40.4c680c","name":"","func":"if (msg.payload.total) {\n    var randomInt = Math.floor(Math.random() * msg.payload.total)\n    \n    msg.payload = msg.payload.result[randomInt].value\n} else {\n    msg.payload = msg.payload.value\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["72ff1329.ebb564"]]},{"id":"d5a64a51.532398","type":"link in","z":"305c7c40.4c680c","name":"","links":["ab1a7938.441d98"],"x":55,"y":300,"wires":[["28fcf0a0.3a1d98"]]},{"id":"4d44b8b6.f76618","type":"comment","z":"305c7c40.4c680c","name":"Advice Intent Fulfillment","info":"","x":140,"y":260,"wires":[]},{"id":"28fcf0a0.3a1d98","type":"function","z":"305c7c40.4c680c","name":"","func":"msg.url = 'http://api.adviceslip.com/advice'\n\nif (msg.payload.entities.length > 0) {\n    var query = msg.payload.entities[0].value\n    \n    msg.url = 'http://api.adviceslip.com/advice/search/' + query\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["f9d5142a.a1c868"]]},{"id":"f9d5142a.a1c868","type":"http request","z":"305c7c40.4c680c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":300,"wires":[["8224d472.9154e"]]},{"id":"8224d472.9154e","type":"function","z":"305c7c40.4c680c","name":"","func":"if (msg.payload.total_results) {\n    var randomInt = Math.floor(Math.random() * msg.payload.total_results)\n    \n    msg.payload = msg.payload.slips[randomInt].advice\n} else {\n    msg.payload = msg.payload.slip.advice\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["72ff1329.ebb564"]]},{"id":"20ffcf1b.f3268","type":"link in","z":"305c7c40.4c680c","name":"","links":["5526b47.52672cc"],"x":55,"y":400,"wires":[["2a038a20.2e5cbe"]]},{"id":"8732122c.3e0578","type":"comment","z":"305c7c40.4c680c","name":"Greet Intent Fulfillment","info":"","x":140,"y":360,"wires":[]},{"id":"2a038a20.2e5cbe","type":"function","z":"305c7c40.4c680c","name":"","func":"var intentResponse = [\n    \"Hello\",\n    \"Hey\",\n    \"Greetings earthling!\",\n    \"Hola\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["72ff1329.ebb564"]]},{"id":"c26fb886.452fa","type":"link in","z":"305c7c40.4c680c","name":"","links":["babc8599.ac2fd"],"x":55,"y":500,"wires":[["e957c521.83fb38"]]},{"id":"ee6b1950.c2f8d8","type":"comment","z":"305c7c40.4c680c","name":"Goodbye Intent Fulfillment","info":"","x":150,"y":460,"wires":[]},{"id":"e957c521.83fb38","type":"function","z":"305c7c40.4c680c","name":"","func":"var intentResponse = [\n    \"C-Ya\",\n    \"Goodbye\",\n    \"Ciao\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["72ff1329.ebb564"]]}]