data/flows.json
[{"id":"f37d137d.f7c26","type":"tab","label":"Rasa Chatbot Starter","disabled":false,"info":""},{"id":"305c7c40.4c680c","type":"tab","label":"Part 2 Solution","disabled":true,"info":""},{"id":"bcdf73f2.b866e","type":"tab","label":"Fallback Solution","disabled":true,"info":""},{"id":"c15ffd7f.a061","type":"http in","z":"305c7c40.4c680c","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["d950ce52.9d7e5"]]},{"id":"d950ce52.9d7e5","type":"http request","z":"305c7c40.4c680c","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":320,"y":60,"wires":[["afb49010.10c138"]]},{"id":"72ff1329.ebb564","type":"http response","z":"305c7c40.4c680c","name":"HTTP Response","statusCode":"","headers":{},"x":700,"y":200,"wires":[]},{"id":"afb49010.10c138","type":"switch","z":"305c7c40.4c680c","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"chuckNorris","vt":"str"},{"t":"eq","v":"advice","vt":"str"},{"t":"eq","v":"greet","vt":"str"},{"t":"eq","v":"goodbye","vt":"str"}],"checkall":"false","outputs":4,"x":510,"y":60,"wires":[["8ae7582d.ff64e8"],["ab1a7938.441d98"],["5526b47.52672cc"],["babc8599.ac2fd"]]},{"id":"1af81bb9.bdb274","type":"http in","z":"f37d137d.f7c26","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["3e65cac8.85975e"]]},{"id":"3e65cac8.85975e","type":"http request","z":"f37d137d.f7c26","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":300,"y":40,"wires":[["b27c373b.a97188"]]},{"id":"8581e36a.36b23","type":"http response","z":"f37d137d.f7c26","name":"HTTP Response","statusCode":"","headers":{},"x":600,"y":120,"wires":[]},{"id":"b27c373b.a97188","type":"switch","z":"f37d137d.f7c26","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"else"}],"checkall":"false","outputs":1,"x":490,"y":40,"wires":[["8581e36a.36b23"]]},{"id":"8ae7582d.ff64e8","type":"link out","z":"305c7c40.4c680c","name":"chuckNorris Switch","links":["d80552f.9a4aeb"],"x":635,"y":40,"wires":[]},{"id":"ab1a7938.441d98","type":"link out","z":"305c7c40.4c680c","name":"advice Switch","links":["d5a64a51.532398"],"x":675,"y":60,"wires":[]},{"id":"5526b47.52672cc","type":"link out","z":"305c7c40.4c680c","name":"greet Switch","links":["20ffcf1b.f3268"],"x":715,"y":80,"wires":[]},{"id":"babc8599.ac2fd","type":"link out","z":"305c7c40.4c680c","name":"goodbye Switch","links":["c26fb886.452fa"],"x":755,"y":100,"wires":[]},{"id":"d80552f.9a4aeb","type":"link in","z":"305c7c40.4c680c","name":"","links":["8ae7582d.ff64e8"],"x":55,"y":200,"wires":[["c79d0424.205c"]]},{"id":"1ad1c3f9.c0dc1c","type":"comment","z":"305c7c40.4c680c","name":"Chuck Norris Intent Fulfillment","info":"","x":160,"y":160,"wires":[]},{"id":"c79d0424.205c","type":"function","z":"305c7c40.4c680c","name":"","func":"msg.url = 'https://api.chucknorris.io/jokes/random'\n\nif (msg.payload.entities.length > 0) {\n    var query = msg.payload.entities[0].value\n    \n    msg.url = 'https://api.chucknorris.io/jokes/search?query=' + query\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["2473627a.c633b6"]]},{"id":"2473627a.c633b6","type":"http request","z":"305c7c40.4c680c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":200,"wires":[["dd78dba4.00aac"]]},{"id":"dd78dba4.00aac","type":"function","z":"305c7c40.4c680c","name":"","func":"if (msg.payload.total) {\n    var randomInt = Math.floor(Math.random() * msg.payload.total)\n    \n    msg.payload = msg.payload.result[randomInt].value\n} else {\n    msg.payload = msg.payload.value\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["72ff1329.ebb564"]]},{"id":"d5a64a51.532398","type":"link in","z":"305c7c40.4c680c","name":"","links":["ab1a7938.441d98"],"x":55,"y":300,"wires":[["28fcf0a0.3a1d98"]]},{"id":"4d44b8b6.f76618","type":"comment","z":"305c7c40.4c680c","name":"Advice Intent Fulfillment","info":"","x":140,"y":260,"wires":[]},{"id":"28fcf0a0.3a1d98","type":"function","z":"305c7c40.4c680c","name":"","func":"msg.url = 'http://api.adviceslip.com/advice'\n\nif (msg.payload.entities.length > 0) {\n    var query = msg.payload.entities[0].value\n    \n    msg.url = 'http://api.adviceslip.com/advice/search/' + query\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["f9d5142a.a1c868"]]},{"id":"f9d5142a.a1c868","type":"http request","z":"305c7c40.4c680c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":300,"wires":[["8224d472.9154e"]]},{"id":"8224d472.9154e","type":"function","z":"305c7c40.4c680c","name":"","func":"if (msg.payload.total_results) {\n    var randomInt = Math.floor(Math.random() * msg.payload.total_results)\n    \n    msg.payload = msg.payload.slips[randomInt].advice\n} else {\n    msg.payload = msg.payload.slip.advice\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["72ff1329.ebb564"]]},{"id":"20ffcf1b.f3268","type":"link in","z":"305c7c40.4c680c","name":"","links":["5526b47.52672cc"],"x":55,"y":400,"wires":[["2a038a20.2e5cbe"]]},{"id":"8732122c.3e0578","type":"comment","z":"305c7c40.4c680c","name":"Greet Intent Fulfillment","info":"","x":140,"y":360,"wires":[]},{"id":"2a038a20.2e5cbe","type":"function","z":"305c7c40.4c680c","name":"","func":"var intentResponse = [\n    \"Hello\",\n    \"Hey\",\n    \"Greetings earthling!\",\n    \"Hola\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["72ff1329.ebb564"]]},{"id":"c26fb886.452fa","type":"link in","z":"305c7c40.4c680c","name":"","links":["babc8599.ac2fd"],"x":55,"y":500,"wires":[["e957c521.83fb38"]]},{"id":"ee6b1950.c2f8d8","type":"comment","z":"305c7c40.4c680c","name":"Goodbye Intent Fulfillment","info":"","x":150,"y":460,"wires":[]},{"id":"e957c521.83fb38","type":"function","z":"305c7c40.4c680c","name":"","func":"var intentResponse = [\n    \"C-Ya\",\n    \"Goodbye\",\n    \"Ciao\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["72ff1329.ebb564"]]},{"id":"2a74fdb6.c24e22","type":"http in","z":"bcdf73f2.b866e","name":"HTTP Request","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["8964aeb1.84579"]]},{"id":"8964aeb1.84579","type":"http request","z":"bcdf73f2.b866e","name":"Rasa Request","method":"POST","ret":"obj","url":"http://rasa:5000/parse","tls":"","x":300,"y":60,"wires":[["81696e01.cf715"]]},{"id":"446bd877.5435b8","type":"http response","z":"bcdf73f2.b866e","name":"HTTP Response","statusCode":"","headers":{},"x":960,"y":520,"wires":[]},{"id":"a1aaab52.92e238","type":"switch","z":"bcdf73f2.b866e","name":"Intent Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"chuckNorris","vt":"str"},{"t":"eq","v":"advice","vt":"str"},{"t":"eq","v":"greet","vt":"str"},{"t":"eq","v":"goodbye","vt":"str"},{"t":"eq","v":"marriageProposal","vt":"str"},{"t":"eq","v":"knockKnock","vt":"str"},{"t":"eq","v":"fallback","vt":"str"}],"checkall":"false","outputs":7,"x":710,"y":60,"wires":[["3fdf4197.a4b88e"],["74a6931e.99d0c4"],["caebfeed.7bee68"],["c727ced7.0813a"],["dcafa9ce.b0a698"],["f11d86f0.a07cf8"],["94a8d0ca.0b5f68"]]},{"id":"53482997.1f7dd","type":"comment","z":"bcdf73f2.b866e","name":"Chuck Norris Intent Fulfillment","info":"","x":160,"y":160,"wires":[]},{"id":"8c0b0b56.6bec18","type":"function","z":"bcdf73f2.b866e","name":"","func":"msg.url = 'https://api.chucknorris.io/jokes/random'\n\nif (msg.payload.entities.length > 0) {\n    var query = msg.payload.entities[0].value\n    \n    msg.url = 'https://api.chucknorris.io/jokes/search?query=' + query\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["ecf99717.f8464"]]},{"id":"ecf99717.f8464","type":"http request","z":"bcdf73f2.b866e","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":200,"wires":[["5279e276.9e06c4"]]},{"id":"5279e276.9e06c4","type":"function","z":"bcdf73f2.b866e","name":"","func":"if (msg.payload.total) {\n    var randomInt = Math.floor(Math.random() * msg.payload.total)\n    \n    msg.payload = msg.payload.result[randomInt].value\n} else {\n    msg.payload = msg.payload.value\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["446bd877.5435b8"]]},{"id":"7fc7133e.47d66c","type":"comment","z":"bcdf73f2.b866e","name":"Advice Intent Fulfillment","info":"","x":140,"y":260,"wires":[]},{"id":"f77d163.72fd1e8","type":"function","z":"bcdf73f2.b866e","name":"","func":"msg.url = 'http://api.adviceslip.com/advice'\n\nif (msg.payload.entities.length > 0) {\n    var query = msg.payload.entities[0].value\n    \n    msg.url = 'http://api.adviceslip.com/advice/search/' + query\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["2efe68e7.48af38"]]},{"id":"2efe68e7.48af38","type":"http request","z":"bcdf73f2.b866e","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":300,"wires":[["ed474074.fef6a"]]},{"id":"ed474074.fef6a","type":"function","z":"bcdf73f2.b866e","name":"","func":"if (msg.payload.total_results) {\n    var randomInt = Math.floor(Math.random() * msg.payload.total_results)\n    \n    msg.payload = msg.payload.slips[randomInt].advice\n} else {\n    msg.payload = msg.payload.slip.advice\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["446bd877.5435b8"]]},{"id":"ebd5ca5d.4abf1","type":"comment","z":"bcdf73f2.b866e","name":"Greet Intent Fulfillment","info":"","x":140,"y":360,"wires":[]},{"id":"bcdc282f.26cf8","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Hello\",\n    \"Hey\",\n    \"Greetings earthling!\",\n    \"Hola\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["446bd877.5435b8"]]},{"id":"4e3cb697.e83c08","type":"comment","z":"bcdf73f2.b866e","name":"Goodbye Intent Fulfillment","info":"","x":150,"y":460,"wires":[]},{"id":"abc4235f.3a944","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"C-Ya\",\n    \"Goodbye\",\n    \"Ciao\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["446bd877.5435b8"]]},{"id":"91d105fc.6dda9","type":"comment","z":"bcdf73f2.b866e","name":"Marriage Proposal Intent Fulfillment","info":"","x":180,"y":560,"wires":[]},{"id":"e6f15ee4.e4364","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Sorry I'm taken\",\n    \"That would be nice, but what will your parents think!\",\n    \"I don't think so wierdo.\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":600,"wires":[["446bd877.5435b8"]]},{"id":"227a241f.ccd4f4","type":"comment","z":"bcdf73f2.b866e","name":"Knock Knock Intent Fulfillment","info":"","x":170,"y":660,"wires":[]},{"id":"e611fab0.2cbbf","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"Sorry I don't know any knock knock jokes. I'm all about Chuck Norris and giving advice, but not giving advice to Chuck Norris.\",\n    \"Move along, no knock knock jokes here.\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["446bd877.5435b8"]]},{"id":"4aaba97d.72a238","type":"comment","z":"bcdf73f2.b866e","name":"Fallback Intent Fulfillment","info":"","x":150,"y":760,"wires":[]},{"id":"4c72555f.a07a4c","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"I'm sorry I didn't unsertand that.\",\n    \"Can you try to re-phrase that I don't know what you are after.\",\n    \"You may be asking for something I can't do, all I know about are chuck norris jokes and giving advice.\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":800,"wires":[["446bd877.5435b8"]]},{"id":"81696e01.cf715","type":"switch","z":"bcdf73f2.b866e","name":"Confidence Switch","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"gt","v":".5","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":490,"y":60,"wires":[["a1aaab52.92e238"],["82b46fea.8dac58"]]},{"id":"80ba464.2155838","type":"link in","z":"bcdf73f2.b866e","name":"","links":["94a8d0ca.0b5f68"],"x":55,"y":800,"wires":[["4c72555f.a07a4c"]]},{"id":"80fecb5a.4e0f78","type":"link in","z":"bcdf73f2.b866e","name":"","links":["f11d86f0.a07cf8"],"x":55,"y":700,"wires":[["e611fab0.2cbbf"]]},{"id":"6501f98f.8a2a08","type":"link in","z":"bcdf73f2.b866e","name":"","links":["dcafa9ce.b0a698"],"x":55,"y":600,"wires":[["e6f15ee4.e4364"]]},{"id":"f2a842a5.c28e5","type":"link in","z":"bcdf73f2.b866e","name":"","links":["c727ced7.0813a"],"x":55,"y":500,"wires":[["abc4235f.3a944"]]},{"id":"25317f0b.da03c","type":"link in","z":"bcdf73f2.b866e","name":"","links":["caebfeed.7bee68"],"x":55,"y":400,"wires":[["bcdc282f.26cf8"]]},{"id":"f06ff4f4.d7dd","type":"link in","z":"bcdf73f2.b866e","name":"","links":["74a6931e.99d0c4"],"x":55,"y":300,"wires":[["f77d163.72fd1e8"]]},{"id":"853a4884.020eb8","type":"link in","z":"bcdf73f2.b866e","name":"","links":["3fdf4197.a4b88e"],"x":55,"y":200,"wires":[["8c0b0b56.6bec18"]]},{"id":"3fdf4197.a4b88e","type":"link out","z":"bcdf73f2.b866e","name":"chuckNorris Switch","links":["853a4884.020eb8"],"x":795,"y":20,"wires":[]},{"id":"74a6931e.99d0c4","type":"link out","z":"bcdf73f2.b866e","name":"advice Switch","links":["f06ff4f4.d7dd"],"x":835,"y":40,"wires":[]},{"id":"caebfeed.7bee68","type":"link out","z":"bcdf73f2.b866e","name":"greet Switch","links":["25317f0b.da03c"],"x":875,"y":60,"wires":[]},{"id":"c727ced7.0813a","type":"link out","z":"bcdf73f2.b866e","name":"goodbye Switch","links":["f2a842a5.c28e5"],"x":915,"y":80,"wires":[]},{"id":"dcafa9ce.b0a698","type":"link out","z":"bcdf73f2.b866e","name":"Marriage Proposal Switch","links":["6501f98f.8a2a08"],"x":955,"y":100,"wires":[]},{"id":"f11d86f0.a07cf8","type":"link out","z":"bcdf73f2.b866e","name":"Knock Knock Switch","links":["80fecb5a.4e0f78"],"x":995,"y":120,"wires":[]},{"id":"94a8d0ca.0b5f68","type":"link out","z":"bcdf73f2.b866e","name":"Fallback Switch","links":["80ba464.2155838"],"x":1035,"y":140,"wires":[]},{"id":"82b46fea.8dac58","type":"function","z":"bcdf73f2.b866e","name":"","func":"var intentResponse = [\n    \"I'm not certain what you mean, can you try re-phrasing that.\",\n    \"I'm just a young bot, all I know about are chuck norris jokes and giving advice.\"\n]\n\nvar randomInt = Math.floor(Math.random() * intentResponse.length)\n    \nmsg.payload = intentResponse[randomInt]\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":160,"wires":[["446bd877.5435b8"]]}]